$bg-white: #ffffff;
$font-primary: #333333;
$font-secondary: #aaaaaa;
$brand-primary: #7397f5;
$tech-borderand-others: #d5d5d5;
$font-hover: #125bae;
$general-main-14: 400 14px/16px "PT Sans", sans-serif;
$general-header-ac-14: 700 14px/14px "PT Sans", sans-serif;
$general-header-filter-16: 700 16px/20px "PT Sans", sans-serif;
$desktop-header-is-24: 400 22px/28px "PT Sans", sans-serif;
$mobile-main-16: 400 16px/14px "PT Sans", sans-serif;
$bg-slider: #cbcbcb;