$bg-white: #ffffff;
$border-white: #f2f2f2;
$font-primary: #333333;
$font-secondary: #aaaaaa;
$brand-primary: #7397f5;
$tech-borderand-others: #d5d5d5;
$font-hover: #125bae;
$font-background-hover: #e2efff;
$general-paragraph-sm: 400 12px/14px "PT Sans", sans-serif;
$general-main-md: 400 14px/16px "PT Sans", sans-serif;
$general-header-md: 700 14px/14px "PT Sans", sans-serif;
$mobile-header-md: 700 16px/14px "PT Sans", sans-serif;
$general-filter-header-md: 700 16px/20px "PT Sans", sans-serif;
$desktop-header-lg: 400 22px/28px "PT Sans", sans-serif;
$mobile-main-md: 400 16px/14px "PT Sans", sans-serif;
$inter-font-md: 400 14px/normal "Inter", sans-serif;
$bg-slider: #cbcbcb;