main,
main * {
  box-sizing: border-box;
}
input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #000000;
}
.container {
  background: var(--tech-white, #ffffff);
  padding: 0px 100px 36px 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
.header {
  background: #ffffff;
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.header__container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.header__container-logo {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}

.header__container-logo-txt {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__container-catalog {
  border-radius: 8px;
  border-style: solid;
  border-color: #73aff4;
  border-width: 1px;
  padding: 8px 24px 8px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.header__catalog-title {
  color: #000000;
  text-align: left;
  font: 500 14px "Inter", sans-serif;
  position: relative;
}
.header__container-search {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #73aff4;
  border-width: 1px;
  padding: 4px 16px 4px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.filter__price-input {
  color: var(--font-secondary, #AAA);
  font-family: PT Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.search-goods {
  color: #5A5A5A;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

._1920__frame-1167 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
._1920__frame {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.header__container-info {
  display: flex;
  justify-content: space-between;
}

.header__info-list {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__info-list li {
  margin: 0;
}

.header__info-list li a {
  color: #393939;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
._1920__4 {
  color: #393939;
  text-align: left;
  font: 400 14px "Inter", sans-serif;
  position: relative;
}
.goods__container {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.goods__container-filter {
  background: var(--tech-white, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 280px;
  position: relative;
}
.filter__category-list {
  padding-left: 0;
  list-style: none;
  background: var(--tech-white, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.filter__category-label {
  padding: 0px 16px 0px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.filter__category-title {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.filter__category-name {
  color: var(--font-primary, #333333);
  text-align: left;
  font: var(--general-main-14, 400 14px/16px "PT Sans", sans-serif);
  position: relative;
}
.filter__category-qty {
  color: var(--font-secondary, #aaaaaa);
  text-align: right;
  font: var(--general-paragraph-12, 400 12px/14px "PT Sans", sans-serif);
  position: relative;
}
.filter__category-title--space {
  padding: 0px 16px 0px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.filter__category-title--outlined {
  background: var(--font-background-hover, #e2efff);
  border-radius: 5px;
  padding: 0px 16px 0px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.filter__category-block--outlined {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.filter__category-qty--outlined {
  color: var(--font-primary, #333333);
  text-align: right;
  font: var(--general-paragraph-12, 400 12px/14px "PT Sans", sans-serif);
  opacity: 0.800000011920929;
  position: relative;
}
.filter__category-price {
  background: var(--tech-white, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.filter__price-header, .filter__size-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.filter__brand-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.filter__header-text {
  color: var(--font-primary, #333333);
  text-align: center;
  font: var(--general-header-filter-16, 700 16px/20px "PT Sans", sans-serif);
  position: relative;
}

.filter__slider-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.filter__slider-input {
  background: var(--tech-white, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--tech-borderand-others, #d5d5d5);
  border-width: 1px;
  padding: 10px 8px 10px 8px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.filter__slider-label {
  color: var(--font-secondary, #aaaaaa);
  text-align: left;
  font: var(--general-paragraph-12, 400 12px/14px "PT Sans", sans-serif);
  position: relative;
}
.filter__price-input {
  width: 100%;
  height: 100%;
  color: var(--font-primary, #333333);
  text-align: left;
  font: var(--general-main-14, 400 14px/16px "PT Sans", sans-serif);
  position: relative;
}
.filter__divider {
  background: var(--tech-borderand-others, #d5d5d5);
  flex-shrink: 0;
  width: 10px;
  height: 1px;
  position: relative;
}
.filter__brand, .filter__size {
  background: var(--tech-white, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.filter__brand-text, .filter__size-text {
  color: var(--font-primary, #333333);
  text-align: left;
  font: var(--general-header-filter-16, 700 16px/20px "PT Sans", sans-serif);
  position: relative;
}
.filter__brand-btn {
  flex-shrink: 0;
  width: 48px;
  height: 13px;
  position: relative;
}
.filter__brand-clr {
  color: var(--font-secondary, #aaaaaa);
  text-align: right;
  font: 400 12px/12px "PT Sans", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 0;
  top: 0;
}
.filter__brand-search {
  background: var(--tech-white, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--tech-borderand-others, #d5d5d5);
  border-width: 1px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.header__container-search-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
._1920__autocomplete-mobile-icon {
  opacity: 0.30000001192092896;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1920__8 {
  color: var(--font-secondary, #aaaaaa);
  text-align: left;
  font: var(--general-main-14, 400 14px/16px "PT Sans", sans-serif);
  position: relative;
}
.filter__checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.filter__checkbox-label {
  padding: 0px 16px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.filter__checkbox-input {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.filter__size-header {

}

.filter__header-text-center {
  color: var(--font-primary, #333333);
  font: var(--general-header-filter-16, 700 16px/20px "PT Sans", sans-serif);
  position: relative;
}

._1920__checkbox-auto {
  border-radius: 3px;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1920__checkbox-auto2 {
  border-radius: 3px;
  border-style: solid;
  border-color: var(--tech-borderand-others, #d5d5d5);
  border-width: 1px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.filter__brand-slider {
  background: var(--tech-icons, #cbcbcb);
  border-radius: 10px;
  flex-shrink: 0;
  width: 3px;
  height: 121px;
  position: absolute;
  right: 0px;
  top: 88px;
  overflow: hidden;
}

.filter__checkbox-qty {
  text-align: right;
}

.filter__size-header {
  display: flex;
  justify-content: center;
}

/* Move "3" to the right corner */
.filter__checkbox-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__checkbox-qty {
  margin-left: auto;
}
.goods__grid {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.goods__horizontal-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  position: relative;
}
.goods__vertical-card {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 0 0 calc(25% - 20px);
  position: relative;
}
.goods__vertical-img {
  background: #f8f8fa;
  align-self: stretch;
  flex-shrink: 0;
  height: 200px;
  position: relative;
  overflow: hidden;
}
._1920__ic-baseline-photo-camera {
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 29.5px);
  top: calc(50% - 30px);
  overflow: visible;
}
._1920__ba {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 12px;
  top: 12px;
}
._1920__shields {
  background: var(--tech-white, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--tech-scroll-bar, #f2f2f2);
  border-width: 1px;
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 32px;
  position: relative;
}
._1920__9 {
  color: var(--font-primary, #333333);
  text-align: right;
  font: var(--general-main-14, 400 14px/16px "PT Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
._1920__icons {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1920__shields2 {
  background: var(--brand-primary, #7397f5);
  border-radius: 4px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 12px;
  bottom: 12px;
}
._1920___25 {
  color: var(--tech-white, #ffffff);
  text-align: right;
  font: var(--general-header-ac-14, 700 14px/14px "PT Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
._1920__labels {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._1920__10 {
  color: var(--font-secondary, #aaaaaa);
  text-align: left;
  font: var(--general-main-14, 400 14px/16px "PT Sans", sans-serif);
  position: relative;
  align-self: stretch;
}
._1920__var-font-product-name-default {
  color: var(--font-primary, #333333);
  text-align: left;
  font: var(--general-main-14, 400 14px/16px "PT Sans", sans-serif);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1920__frame-1011 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._1920__current-price {
  color: var(--font-primary, #333333);
  text-align: left;
  font: var(--mobile-header-ac-16, 700 16px/14px "PT Sans", sans-serif);
  position: relative;
}
._1920__current-price2 {
  color: var(--font-secondary, #aaaaaa);
  text-align: left;
  font: 400 12px/14px "PT Sans", sans-serif;
  text-decoration: line-through;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1920__result-list {
  background: var(--tech-white, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--brand-primary, #7397f5);
  border-width: 1px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._1920__11 {
  color: var(--brand-primary, #7397f5);
  text-align: left;
  font: var(--general-header-ac-14, 700 14px/14px "PT Sans", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1920__ic-baseline-photo-camera2 {
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 40.5px);
  top: calc(50% - 41px);
  overflow: visible;
}
._1920__icons2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1920__frame-1009 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._1920__var-font-product-name-default2 {
  color: var(--font-hover, #125bae);
  text-align: left;
  font: var(--general-main-14, 400 14px/16px "PT Sans", sans-serif);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1920__frame-10112 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.goods__vertical-card--gray {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 372px;
  position: relative;
}
.goods__vertical-img--gray {
  background: #f8f8fa;
  opacity: 0.5;
  align-self: stretch;
  flex-shrink: 0;
  height: 200px;
  position: relative;
  overflow: hidden;
}
._1920__ic-baseline-photo-camera3 {
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 29.5px);
  top: calc(50% - 30px);
  overflow: visible;
}
._1920__frame-1138 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
._1920__result-list2 {
  background: var(--tech-white, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--font-secondary, #aaaaaa);
  border-width: 1px;
  padding: 12px 16px 12px 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._1920__12 {
  color: var(--font-secondary, #AAA);
  font-family: PT Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
}
._1920__shields3 {
  background: var(--brand-primary, #7397f5);
  border-radius: 4px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 12px;
  top: 162px;
}
._1920__ba2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 12px;
  top: 12px;
}
._1920__icons3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1920__ic-baseline-photo-camera4 {
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 29.5px);
  top: calc(50% - 30px);
  overflow: visible;
}
._1920__icons4 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1920__ic-baseline-photo-camera5 {
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 29.5px);
  top: calc(50% - 30px);
  overflow: visible;
}
._1920__icons5 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1920__ic-baseline-photo-camera6 {
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 29.5px);
  top: calc(50% - 30px);
  overflow: visible;
}
._1920__icons6 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1920__ic-baseline-photo-camera7 {
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 29.5px);
  top: calc(50% - 30px);
  overflow: visible;
}
._1920__icons7 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1920__ic-baseline-photo-camera8 {
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 29.5px);
  top: calc(50% - 30px);
  overflow: visible;
}
._1920__icons8 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1920__ic-baseline-photo-camera9 {
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 29.5px);
  top: calc(50% - 30px);
  overflow: visible;
}
._1920__icons9 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1920__ic-baseline-photo-camera10 {
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 29.5px);
  top: calc(50% - 30px);
  overflow: visible;
}
._1920__icons10 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1920__ic-baseline-photo-camera11 {
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 29.5px);
  top: calc(50% - 30px);
  overflow: visible;
}
._1920__icons11 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1920__ic-baseline-photo-camera12 {
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 29.5px);
  top: calc(50% - 30px);
  overflow: visible;
}
._1920__icons12 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
